USE [master]
GO
/****** Object:  Database [Citas]    Script Date: 08/12/2021 09:59:01 p. m. ******/
CREATE DATABASE [Citas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Citas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Citas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Citas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Citas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Citas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Citas]
GO
USE [Citas]
GO
/****** Object:  Table [dbo].[cita]    Script Date: 08/12/2021 09:59:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cita](
	[citaId] [int] NOT NULL,
	[hora] [nchar](40) NULL,
	[servicio] [nchar](40) NULL,
	[fecha] [nchar](40) NULL,
	[mascotaId] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[cita] ([citaId], [hora], [servicio], [fecha], [mascotaId]) VALUES (3, N'10:00                                   ', N'corte                                   ', N'30/11/21                                ', 3)
USE [master]
GO
